/* footer
--------------------------------------------------------- */
.l-footer{
  text-align: center;
  color: $text-color-lighten;
  font-size: 10px;
  border-top: 1px $border-lighten solid;
  padding: $margin-large-x 0;
}