/*
# alert

```
<p class="c-alert">alert</p>
```

 */

.c-alert{
  color: $text-color-alert;
  background: $bg-alert-b;
  border: solid 1px $border-alert;
  padding: $margin-base $margin-large;
}

// Modifier
// --------------------
.c-alert--success{
  color: $text-color-success;
  background: $bg-success;
  border: solid 1px $border-success;
  padding: $margin-base $margin-large;
}