/* 
#beadcrumb

```
<div class="c-breadcrumb">
  <ul class="c-inline c-breadcrumb__inner">
    <li class="c-inline__cell">
     <a href="#">Home</a> <i class="fa fa-angle-right"></i>
   </li>
   <li class="c-inline__cell">
     <a href="#">hogehoge</a>
   </li>
 </ul>
</div>
```

*/

.c-breadcrumb{
  width: 100%;
  padding: 72px 0 $margin-large;
  background: $bg-white;
  color: $text-color-lighten;
  
  a{
   color: $text-color-lighten;
   
   &:hover{
     color: $text-color-link-hover;
   }
  }
}

// Element
// --------------------
.c-breadcrumb__inner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $margin-large;
}


// PC only
// --------------------
@media ( min-width : $breakpoint ) {
  .c-breadcrumb{
    padding: 72px 0 $margin-large;
  }
}