/* 
# container

```
<div class="c-container">
  コンテンツ
</div>
<div class="c-container--small">
  コンテンツ
</div>
<div class="c-container--x-small">
  コンテンツ
</div>
<div class="c-container--full">
  コンテンツ
</div>
```
*/

.c-container{
  margin:0 $margin-large $margin-large-x;
}

// Modifier
// --------------------
.c-container--small{
  margin:0 $margin-large-x $margin-large-x;
}

.c-container--x-small{
  margin:0 $margin-large-xx $margin-large-x;
}

.c-container--full{
  margin: 0 0 $margin-large-x;
}