/*
# grid

レスポンシブ対応のgridシステム

```
<div class="c-container">
  <div class="c-grid">
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
  </div>
</div>
<div class="c-container">
  <div class="c-grid">
    <div class="c-grid__col c-grid__col--2"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--2"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--4"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--2"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--2"><div class="box">col</div></div>
  </div>
</div>
<div class="c-container">
  <div class="c-grid c-grid--gutters">
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--1"><div class="box">col</div></div>
  </div>
</div>
<div class="c-container">
  <div class="c-grid c-grid--gutters c-grid--justify">
    <div class="c-grid__col c-grid__col--2"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--6"><div class="box">col</div></div>
    <div class="c-grid__col c-grid__col--2"><div class="box">col</div></div>
  </div>
</div>
```
 */

// variables
// --------------------
$var-breakpoint:            $breakpoint;
$var-col:                   12;
$var-max-width:             100%;
$var-col-gutters:           3%;
$var-col-width:             $var-max-width / $var-col;
$var-col-width-gutters:     ($var-max-width + $var-col-gutters) / $var-col;

.c-grid{
  display:-webkit-flex; // safari（PC）用
  display:-ms-flexbox; // IE10
  display: flex;
  -ms-flex-flow:wrap; // IE10用
  -webkit-flow:wrap; // safari（PC）用
  flex-wrap: wrap;
  list-style: none;
  

  // Modifier
  // --------------------
  &--top{
    -webkit-box-align: start; // Androidブラウザ用
    -ms-flex-align: start; // IE10
    -webkit-align-items:flex-start; // safari（PC）用
    align-items: flex-start;
  }

  &--middle{
    -webkit-box-align: center; // Androidブラウザ用
    -ms-flex-align: center; // IE10
    -webkit-align-items:center; // safari（PC）用
    align-items: center;
  }

  &--bottom{
    -webkit-box-align: end; // Androidブラウザ用
    -ms-flex-align: end; // IE10
    -webkit-align-items:flex-end; // safari（PC）用
    align-items: flex-end;
  }

  &--stretch{
    -webkit-box-align:stretch; // Androidブラウザ用
    -ms-flex-align:stretch; // IE10
    -webkit-align-items:stretch; // safari（PC）用
    align-items: stretch;
  }

  &--baseline{
    -webkit-box-align: baseline; // Androidブラウザ用
    -ms-flex-align: baseline; // IE10
    -webkit-align-items:baseline; // safari（PC）用
    align-items: baseline;
  }

  &--left{
    -webkit-box-pack:start; // Androidブラウザ用
    -ms-flex-pack:start; // IE10
    -webkit-justify-content:flex-start; // safari（PC）用
    justify-content: flex-start;
  }

  &--center{
    -webkit-box-pack:center; // Androidブラウザ用
    -ms-flex-pack:center; // IE10
    -webkit-justify-content:center; // safari（PC）用
    justify-content: center;
  }

  &--right{
    -webkit-box-pack:end; // Androidブラウザ用
    -ms-flex-pack:end; // IE10
    -webkit-justify-content:flex-end; // safari（PC）用
    justify-content: flex-end;
  }

  &--between{
    -webkit-box-pack:justify; // Androidブラウザ用
    -ms-flex-pack:justify; // IE10
    -webkit-justify-content:space-between; // safari（PC）用
    justify-content: space-between;
  }
}

// Modifier - gutters
// --------------------
.c-grid--gutters > .c-grid__col{
  margin-left: $var-col-gutters;
  
  &:first-child{
    margin-left: 0;
  }
  
  @for $i from 1 through $var-col{
    &--#{$i + of + $var-col}{
      width: $var-col-width-gutters * $i - $var-col-gutters;
    }
  }
}

// Modifier - query
// --------------------
.c-grid--query{
  display: block;
  
  > .c-grid__col{
    width: 100% !important;
    display: block !important;
    margin-bottom: $margin-large;
  }
}

.c-grid--query.c-grid--gutters > .c-grid__col{
  margin-left: 0;
}


// Element
// --------------------
.c-grid__col{
  box-sizing: border-box;
  -ms-flex:0 0 auto;
  -webkit-flex-shrink: 1;
  flex-shrink: 0;
  
  &--full{
    -ms-flex:1 0 auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  
  @for $i from 1 through $var-col{
    &--#{$i + of + $var-col}{
      width: $var-col-width * $i;
    }
  }
}


// PC only
// --------------------
@media ( min-width : $var-breakpoint ) {
  .c-grid--query{
    display:-webkit-flex; // safari（PC）用
    display:-ms-flexbox; // IE10
    display: flex;
    -ms-flex-flow:wrap; // IE10用
    -webkit-flow:wrap; // safari（PC）用
    flex-wrap: wrap;
    
    > .c-grid__col{
      box-sizing: border-box;
      -ms-flex:0 0 auto;
      -webkit-flex-shrink: 1;
      flex-shrink: 0;
      margin-bottom: 0;
      
      @for $i from 1 through $var-col{
        &--#{$i + of + $var-col}{
          width: $var-col-width * $i !important;
        }
      }
    }
  }
  .c-grid--query.c-grid--gutters > .c-grid__col{
    margin-left: $var-col-gutters;
    
    &:first-child{
      margin: 0;
    }
    
    @for $i from 1 through $var-col{
      &--#{$i + of + $var-col}{
        width: $var-col-width-gutters * $i - $var-col-gutters !important;
      }
    }
  }
}