/*
# hero

```
<div class="c-hero c-hero--anim">
  <div class="c-hero__inner">
    <h2 class="c-hero__inner__title">Hero</h2>
    <p class="c-hero__inner__text">
      13歳でFCバルセロナに入団し、17歳でトップチームデビューして以降、7度のリーガ・エスパニョーラ優勝、<br>
      4度のUEFAチャンピオンズリーグ優勝に貢献。自身も5回の世界最優秀選手賞FIFAバロンドールを受賞し[注 2]、<br>
      2008-09シーズンから2011-12シーズンまで4季連続のチャンピオンズリーグ得点王を獲得。
    </p>
  </div>
</div>
```

 */

.c-hero{
  margin: 0 0 $margin-large-xx;
  padding: $margin-large-xx $margin-large $margin-large;
  border-bottom: 2px solid $border-lighten;
  border-top: 2px solid $border-lighten;
  position: relative;
}


// Modifier
// --------------------
.c-hero--anim{
  background: linear-gradient(270deg, $hero-color-a, $hero-color-b);
  background-size: 400% 400%;
  -webkit-animation: bgAnimation 30s ease infinite;
  -moz-animation: bgAnimation 30s ease infinite;
  -o-animation: bgAnimation 30s ease infinite;
  animation: bgAnimation 30s ease infinite;
  position: relative;
}

.c-hero--bg{
  background-size: 120%;
  height: 0;
  padding-top: 40%;
}


// Element
// --------------------
.c-hero__inner{
  width: auto;
  padding: 0 $margin-large;
}

.c-hero__inner__title{
  font-size: 32px;
  font-weight: normal;
  margin-bottom: $margin-large;
  color: $text-color-white;
}

.c-hero__inner__text{
  margin-bottom: $margin-large;
  color: $text-color-white;
}

.c-hero__icon{
  position: absolute;
  bottom: -8%;
  left: 10%;
  border: solid $border-white 2px;
  @include box-shadow(0, 0, 12px, 0, rgba(10, 2, 4, .40));
}


// PC only
// --------------------
@media ( min-width : $breakpoint ) {
  .c-hero__inner{
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $margin-large 0 $margin-large-xxxx;
  }
}