/* 
# loading

```
<div class="c-loading">
  <i class="c-loading__spinner fa fa-spinner"></i>
</div>
```

*/
.c-loading{
  display: block;
  width: 100%;
  text-align: center;
}

.c-loading__spinner {
  font-size:  48px;
  display: inline-block;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  animation-name: rotateThis;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
@-webkit-keyframes rotateThis {
  from {
    -webkit-transform:scale(0.5) rotate(0deg);
    transform:scale(0.5) rotate(0deg);
    }
  to {
    -webkit-transform:scale(0.5) rotate(360deg);
    transform:scale(0.5) rotate(360deg);
  }
}