/*
# mediaquery

```
<div class="c-mediaquery--sp">
  Sp Only
</div>

<div class="c-mediaquery--pc">
  Pc Only
</div>
```

 */

.c-mediaquery--sp{
  display: block;
}

.c-mediaquery--pc{
  display: none;
}


@media ( min-width : $breakpoint ) {
  .c-mediaquery--sp{
    display: none;
  }

  .c-mediaquery--pc{
    display: block;
  }
}