/*
# nav

```
<ul class="c-nav c-nav--right">
  <li class="c-nav__item">
    <a href="#">メニュー1</a>
  </li>
  <li class="c-nav__item">
    <a href="#">メニュー2</a>
  </li>
  <li class="c-nav__item">
    <a href="#">メニュー3</a>
  </li>
  <li class="c-nav__item">
    <a href="#">メニュー4</a>
  </li>
</ul>
```

 */

.c-nav{
  list-style: none;
}

// Modifier
// --------------------
.c-nav--center{
  text-align: center;
}

.c-nav--right{
  text-align: right;
}

// Element
// --------------------
.c-nav__item{
  display: inline-block;
  
  a{
    display: block;
    @include middle-line(54);
    padding: 0 $margin-large-x;
    text-decoration: none;
  }
}

