/*
# title

```
<h1 class="c-title c-title--primary">タイトル</h1>
<h1 class="c-title c-title--secondary">タイトル</h1>
<h1 class="c-title c-title--primary">タイトル<span class="c-title__sub-text">テキストテキスト</span></h1>
<h1 class="c-title c-title--secondary">タイトル<span class="c-title__sub-text">テキストテキスト</span></h1>
```

*/

.c-title{
  position: relative;
}


// Modifier
// --------------------
.c-title--primary{
  font-size: 18px;
  font-weight: 700;
}

.c-title--secondary{
  font-size: 16px;
  font-weight: 700;
}


// Element
// --------------------
.c-title__sub-text{
  color: $text-color-lighten;
  font-size: 12px;
  display: inline-block;
  margin-left: $margin-large;
  font-weight: normal;
}